.bg-gray-100 {
    background-image: linear-gradient(to bottom, rgb(254, 254, 255) , #414047);

}

h2 {
    font-size: 22px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 600;
}

p {
    margin: 6px;

}

img {
    text-align: end;
    min-width: 60px;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 10px;
    float: right;
    margin: 10px 30px 0px 0px;
}

hr {
    margin: 5px;
}